/* #about:hover{
	background-color: grey!important;
} */

/* #pur{
    font-size: 20px;
    color: red!important;
    background-color: white!important;
} */

/* .detail {
    font-size: 20px;
    text-align:left;
    margin-left:20px;
}

#about  {
  background-color: #812345!important;
} */

/* .menus a:hover{
	background-color: green;
} */

#sel1{
  font-size: 20px;
  font-variant: small-caps ;
  width: 50%;
}

/* #info{
    font-size: 40px!important;
    margin-left:20px;
} */

.row{
  margin-bottom: 10px;
  margin-left: 10px;
}

#rec{
  margin-left:20px;
}

